
  <li>
    <ul class="index">
      <li>Client Name: <%= client.name %></li>
      <li>Cash Balance: <%= client.cash_balance %></li>
      <li>Share Balance: <%= client.share_balance %></li>
      <li><%= link_to 'Edit', "clients/#{client.id}/edit" %></li>
    </ul>
  </li>

  

